<h1>Add Account</h1>
<br />
<%= form_with(model: @account, local: true) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.label :balance %>
    <%= f.number_field :balance, min: 0 %>
  </div>
  <%= f.submit "Create Taco", class: "btn green accent-3"%>
<% end %>
